<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <style>
        .modal-header{
            height:20%;
            background: #f4f4f4;
            padding: 0px;
            border-bottom: none;
        }
        body {
            background: #f4f4f4;
        }
    </style>
</head>
<div class="bcg">

<div>
    <div class="modal-header">
        <h5 style="font-family:Repro_screen;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 80px;
            letter-spacing: 0em;
            text-align: left;
            margin:5vh 5vw 0px 5vw"        >Statistika</h5>
        <a href="/map" id="iks" style="margin:5vh 5vw 0px 5vw">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 0px">
                <span aria-hidden="true" style="font-size: 50px">&times;</span>
            </button>
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="card statistikaCard col-lg-2 col-md-5 firstCard" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Testi na dan: PCR</h6>
                <h4 class="card-title">{{data.testiNaDanPCR}}</h4>
                <div class = " row statRow">
                     <div class="col-lg-5 col-md-12 col-sm-12 statistikaFirstPic"><img src="/images/Plus.svg" /> {{data.pozitivniPCR}}</div>
                     <div class="col-lg-5 col-md-12 col-sm-12 "><img src="/images/Procent.svg" /> {{data.procentPozitivnihPCR}}%</div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
        <div class="card statistikaCard col-lg-2 col-md-5 statNoPic" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Testi na dan: HAT</h6>
                <h4 class="card-title hatH4">{{data.testiNaDanHAT}}</h4>
                <div class = "row statRow">
                    <div class="col-lg-5 col-md-12 col-sm-12 statistikaFirstPic">     </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">     </div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
        <div class="card statistikaCard col-lg-2 col-md-5 statNoPic" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Aktivni primeri</h6>
                <h4 class="card-title hatH4">{{data.aktivniPrimeri}}<span class="tealText smallText" style="color: {{#percentColor data.razlika_aktivniPrimeri}} {{/percentColor}}">{{data.razlika_aktivniPrimeri}}%</span></h4>
                <div class = "row statRow">
                    <div class="col-lg-5 col-md-12 col-sm-12 statistikaFirstPic">     </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">     </div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
        <div class="card statistikaCard col-lg-2 col-md-5" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Novi primeri</h6>
                <h4 class="card-title"> {{data.noviPrimeri}}<span class="tealText smallText " style="color: {{#percentColor data.razlika_noviPrimeri}} {{/percentColor}}"> {{data.razlika_noviPrimeri}}%</span></h4>
                <p>povprečje zadnjih 7 dni: <br> {{data.tedenskoPovprecje}}</p>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>

    </div>
    <div class="row justify-content-center statistikaSecondCard">
        <div class="card statistikaCard col-lg-2 col-md-5 firstCard" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Hospitalizirani</h6>
                <h4 class="card-title">{{data.hospitalizirani}}<span class="tealText smallText" style="color: {{#percentColor data.razlika_hospitalizirani}} {{/percentColor}}"> {{data.razlika_hospitalizirani}}%</span></h4>
                <div class = "row statRow">
                    <div class="col-lg-3 col-md-12 col-sm-12 "><img class="img-responsive" src="/images/Minus.png" /> {{data.dehospitalizirani}} izpuščenih v dnevu </div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
        <div class="card statistikaCard col-lg-2 col-md-5 statNoPic" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">V intenzivni terapiji</h6>
                <h4 class="card-title hatH4">{{data.intenzivnaTerapija}}<span class="tealText smallText" style="color: {{#percentColor data.razlika_vIntenzivni}} {{/percentColor}}"> {{data.razlika_vIntenzivni}}% </span></h4>
                <div class = "row statRow">
                    <div class="col-lg-5 col-md-12 col-sm-12 statistikaFirstPic">     </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">     </div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
        <div class="card statistikaCard col-lg-2 col-md-5 firstCard statNoPic" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Umrli</h6>
                <h4 class="card-title">{{data.skupnoUmrlih}}<span class="tealText smallText" style="color: {{#percentColor data.razlika_umrli}} {{/percentColor}}"> {{data.razlika_umrli}}%</span></h4>
                <div class = "row statRow">
                    <div class="col-lg-3 col-md-12 col-sm-12 "><img class="img-responsive" src="/images/Kriz.svg" /> {{data.umrli}} mrtvih v dnevu </div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
        <div class="card statistikaCard col-lg-2 col-md-5" >
            <div class="card-body">
                <h6 class="card-subtitle mb-2 ">Cepljenih oseb</h6>
                <h4 class="card-title " > <span class="redText smallText"> 1x </span>{{data.cepljeniEnkrat}}</h4>
                <div class = " row statRow ">
                    <div class="col-lg-5 col-md-12 col-sm-12 statistikaFirstPic"><span class="redText smallText">2x </span> {{data.cepljeniDvakrat}}</div>
                    <div class="col-lg-5 col-md-12 col-sm-12"><img src="/images/Procent.svg" /> {{data.cepljeniProcent}}%</div>
                </div>
                <p class="statDatum">{{data.datum}}</p>
            </div>
        </div>
    </div>
</div>
</div>